attrs
Automat
backcall==0.2.0
bcrypt
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click
constantly==15.1.0
crochet==1.12.0
cryptography
cssselect==1.1.0
decorator==4.4.2
Flask==1.1.2
hyperlink
idna
incremental==17.5.0
iniconfig
ipython
ipython-genutils
itemadapter
itemloaders
itsdangerous==1.1.0
jedi
Jinja2
jmespath
lxml
MarkupSafe==1.1.1
more-itertools
packaging
parsel==1.5.2
parso
pexpect
pickleshare
pluggy==0.13.1
prompt-toolkit
Protego
ptyprocess
py
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
PyDispatcher==2.0.5
Pygments
PyHamcrest
pyOpenSSL
pyparsing
PySocks
pytest
pytest-runner
queuelib==1.5.0
requests
requests-file
Scrapy
service-identity
six
tldextract==2.2.0
toml
traitlets
Twisted==20.3.0
urllib3
w3lib==1.21.0
wcwidth
Werkzeug==1.0.1
wrapt
zope.interface
